body
{
    font-family: 'Indie Flower', cursive;
    background-color:  rgb(114, 104, 173) ;
}

.container-card
{
        padding: 50px 0px 50px 0px;
        margin-bottom: 2em; 
}

.img-perfil-card
{
    display: flex;
    justify-content: center;

}

.hr
{
    height: 1px;
    background-color: rgb(0, 0, 0);
    width: 100%;

}

.card-image
{

    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin-top: 1em;

}

.card-perfil
{

    background-color: rgb(255, 187, 0) import !important;
    box-shadow: 0px 0px 5px #f5f5f5;

}

.botoes-card
{

    display: flex;
    justify-content: center;

}

#btn-sobre
{
    margin: 0 5px;
    border: 2px solid rgb(114, 104, 173);
    border-radius: 20px;
    padding: 5px 25px;
    background-color: rgb(165, 151, 248) !important;
    font-weight: 600px;
    color: rgb(255, 255, 255);

}

#btn-projetos
{
    margin: 0 5px;
    border: 2px solid rgb(114, 104, 173);
    border-radius: 20px;
    padding: 5px 25px;
    background-color: rgb(165, 151, 248) !important;
    font-weight: 600px;
    color: rgb(255, 255, 255);

}

.icon-redes-sociais
{
    
    text-align: center;
    padding: 10px;

}


.title-text
{

    margin-top:  1em;
    font-weight: 600px;

}

.title-subtitle
{

    margin: 1em 0;

}

.title-text
{

    padding: 5px 17px;

}

.links-redes-sociais
{

    text-decoration: none;

}

.links-redes-sociais i
{

    color: black;
    font-size: 25px;
    padding: 10px;

}

#footer-elementos
{

    display: flex;
    justify-content: space-between;

}

#footer-elementos .email
{

    padding: 15px 0px 15px 0px;
    text-align: center;

}

#footer-elementos .fone
{

    padding: 15px 0px 15px 0px;
    text-align: center;

}

#footer-elementos .siga
{

    padding: 15px 0px 15px 0px;
    text-align: center;

}

@media (min-width: 900px)
{

    .container-linear
    {
        
        background: linear-gradient(to left, rgb(250, 249, 249) 60%, rgb(165, 151, 248) 40%);

    }

    .card-col
    {
        display: flex;
        justify-content:center;
        align-content: center;
        background-color:rgb(255, 255, 255) !important;
        box-shadow: -10px 5px 10px 0px black;

    }
    
    .card-perfil
    {
        margin-left: 80px;
        background-color: #ffffff !important;
        color: rgb(0, 0, 0);
        box-shadow: none !important;
        width: 18em;
        border: none !important;

    }

    .btn-card
    {

        color: black;

    }

    .text-body
    {

        box-shadow: none;

    }

    .text
    {
        
        color: rgb(165, 151, 248);
        max-width:550px;
        vertical-align: middle;
        margin-top: 2em;
        margin-left: 50px;

    }

    #footer-elementos
    {
        color: #ffffff;
        display: flex !important;
        justify-content: center !important;

    }


    .textfinal
    {

       color: rgb(255, 255, 255);
       text-decoration: none;

    }

}

#texto-1
{



}

#texto-2
{

    display: none;

}